* {
  font-family: 'Roboto';
}
.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 55px;
}
.cardContainer1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  border-radius: 10px;
  width: 100%;
  height: max-content;
  background-size: cover;
  margin-bottom: 20px;
  padding: 25px;
}
.mainHead {
  font-size: 25px;
}
.mainPara {
  font-size: 15px;
}
.spanCSS {
  color: #0b69ff;
  font-weight: 500;
}
.cardContainer2 {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.container3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.addTransacHead {
  font-size: 17px;
}
.addTransactionContainer {
  border: 1px solid #7e858e;
  border-radius: 10px;
  padding: 20px;
  margin-right: 23px;
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 52vh;
}
.labelCSS {
  font-size: 10px;

  margin-top: 13px;
  color: #7e858e;
}
.inputBoxCSS {
  font-size: 12px;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #7e858e;
  outline: none;
  margin-bottom: 13px;
}
.addBtn {
  background-color: #0b69ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 10px;
  width: 35%;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}
.historyContainer {
  border: 1px solid #7e858e;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: 'Roboto';
}
.historyContainer2 {
  border: 1px solid #7e858e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  font-family: 'Roboto';
}
.tableHeads {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  margin: 2px;
  width: 80%;
}
.tableTitle {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100px;
  flex-grow: 1;
}
